ul {
    list-style-type: none;
    line-height: 1em;
}

.collection {
    justify-self: left;
}

.active{
    background-color: white;
    color: black;
    text-indent: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 1.5rem;
    align-items: center;
}

.inactive{
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 1.5rem;
}