.card-display {
    border: solid gray 2px;
    border-radius: 8px;
    width: 500px;
    padding: 10px;
    margin: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.nav-display{
    height: 45px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: 40px;
    align-items: center;
}

.interior-button-container{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: 40px;
    align-items: center;
}

.interior-button-container.button{
    border: none;
}