header{
    background-color: #8A8AB2;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 75px;
    border-bottom: solid 3px #47476c;
}